*{
    margin: 0;
    padding: 0%;
    
}
.bg{
  background-color: black;
  margin-top: 0;
}

.first{
  height: 720px;
  border: 2px solid;
  width: 100%;
 margin-right: 83px;
 
}
nav{
  border: 2px solid black;
  height: 100px;
 
  margin-left: 2px;
  margin-right: 2px;
 
  display: flex;
  
}
.last{
  background-color: white;
  height: 800px;
}

 .nav{
  font-size: medium;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid;
  background-color: white;
 }
#sel{
  width: 15%;
border-radius: 10px;
background-color: white;
}
#text{
  width: 100%;
  border-radius: 10px;
  background-color: white;
}


 .vid{
 position: absolute;
 right: auto;
 bottom: auto;
 z-index: -1;
 width: 100%;
   
 }
 .continer{
  text-align: center;
  font-size: larger;
  margin-top: 150px;
  color: white;
  margin-bottom: 200px;
  
 }
 #butt{
  height: 50px;
  width: 300px;
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size:medium;
  border-radius: 10px ; 
   font-weight: bold;
   background-color: transparent;
   border: 3px solid;
   
 }
  #butt:hover{
    color: red;
    font-size: larger;
  }
 
